body {
	font-family: sans-serif;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
  line-height: 1.5em;
  letter-spacing: .1em;
	background: #fff;
  display: flex;
  flex: 1;
  flex-direction: row;
}

a {

}

a:link {

}

a:visited {

}

a:hover {

}

a:active {

}

a[href^="mailto"] {
    color: red;
}

p {

}

h1 {
    font-size: 3rem;
    font-weight: 200;
}

h2 {
  font-size: 1.75rem;
  font-weight: 300;
}

h3 {
  font-size: 20px;
  font-weight: 300;
}

.material-icons {
  font-size: 48px;
  color:red;
  display: inline-flex;
  vertical-align: middle;
}

img {
	border: 0;
	vertical-align: middle;
	max-width: 100%;
  text-align: center;
}

#container {
  width: 45rem;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.booking h3 {
  color: red;
  text-decoration: underline;
  float: right;
  margin-bottom: 2rem;
}

header {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 13rem;
  padding-left: 2rem;
  padding-right: 1rem;
  float: left;
  line-height: 1rem;

}

header h1{
  padding-top: 5rem;
}

header h3 {
  color: silver;
}

nav {
  background-color: silver;
  width: 100%;
  font-size: 20px;
  text-align: center;
  list-style-type: none;
  padding: .5rem 1rem .5rem 2rem;
  display: flex;
  box-shadow: 0 .1em .2em silver;
}

nav a {
  color: purple;
  text-decoration: underline;
  flex: auto;
}

main {
  width: 100%;
  margin-left: 1em;
  padding-top: 1rem;
}

 /** section {
  font-size: 1rem;
  float: left;
  width: 57%;
float: left;
  display: flex;
  flex-wrap: nowrap;
  flex: 0 0 95%;
  padding: 2em 0 1em 0;
} **/

article {
  font-size: 18px;
  font-weight: 300;
  position: relative;
  float: left;
  width: 57%;
}

.testimonials p {
  font-style: italic;
  line-height: 1.2em;
}

aside {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 37%;
  float: right;
  margin: .5em 1em 1em 1em;
  border: .1rem;
  border-color: black;
  border-style: solid;
}

aside p {
  font-size: 16px;
  line-height: 1.2rem;
  width: 100%;
  padding-top: 0;
}

aside h3 {
  text-align: center;
  margin: 1.5em 0 .5em 0;
}

aside .aside-heading {
  font-size: 24px;
  line-height: .1em;
}

figure {
  display: flex;
  flex-direction: column;
  width: 140%;
  margin: 0 1.5em;
}

figure figcaption {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin: .5em 0 0 0;
}

.redtext {
  color: red;
  text-decoration: underline;
  float: right;
  position: relative;
  padding-right: 1em;
}

footer {
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 1em .5em .5em .5em;
  line-height: .5rem;
}

.address {
  font-weight: 100;
  text-align: left;
  letter-spacing: .5px;
  padding-left: .5em;
}

.copyright {
  font-weight: 100;
  text-align: center;
  letter-spacing: .5px;
}
